/* alpha channel rgba(red, green, blue, alpha) */
section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.7  );
    /* alpha channel for hex is at the end from 00 to ff  */
}

#opacity {
    width: 50%;
    height: 50%;
    /* background-color: rgba(255,255,255,0.7  ); */
    background-color: yellow;
    opacity: 0.3;
}